.tmp/
.cache/
.git/
build/
.gitignore
.next/
.dockerignore
Dockerfile
docker-compose.yml
.github/
.husky/
node_modules/


coverage
LICENSE
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
.github
.vscode
npm-debug.log
npm-debug.log.*
*.test.*